/* Coolors Exported Palette - coolors.co/222222-ffffff-003768-639fab-bbcde5 */

/* HSL */
// $color1: hsla(0%, 0%, 13%, 1);
// $color2: hsla(0%, 0%, 100%, 1);
// $color3: hsla(208%, 100%, 20%, 1);
// $color4: hsla(190%, 30%, 53%, 1);
// $color5: hsla(214%, 45%, 82%, 1);

/* RGB */
$color1: rgba(34, 34, 34, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(0, 55, 104, 1);
$color4: rgba(99, 159, 171, 1);
$color5: rgba(187, 205, 229, 1);