/* Coolors Exported Palette - coolors.co/222222-ffffff-003768-639fab-bbcde5 */

/* HSL */
// $color1: hsla(0%, 0%, 13%, 1);
// $color2: hsla(0%, 0%, 100%, 1);
// $color3: hsla(208%, 100%, 20%, 1);
// $color4: hsla(190%, 30%, 53%, 1);
// $color5: hsla(214%, 45%, 82%, 1);

/* RGB */
$color1: #75DDDD;
$color2: #84C7D0;
$color3: #9297C4;
$color4: #9368B7;
$color5: rgb(224, 224, 224);