@import 'palette';

.btn--text{
    cursor: pointer;
    background: none;
    padding: 0px;
    font-size: 12px !important;
    color: $color5 !important;
    border: none;
    margin: 0px;
    font-weight: 400 !important;
}

.btn--small {
    cursor: pointer;
    border-radius: 5px;
    border-color: $color1;
    background: $color1;
    color: #fefefe;
    padding: 4px 2px;
}
.btn--small:disabled {
    border-radius: 5px;
    border-color: $color4;
    background: $color4;
    color: #fefefe;
}
.btn-color4 {
    cursor: pointer;
    background-color: $color1;
    border-color: $color1;
    color: #fefefe;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
}
.btn-color4:disabled {
    background-color: $color4;
    border-color: $color4;
    color: #fefefe;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
}

.title-1 {
    font-size: 20px;
    font-weight: bold;
    color: $color3;
}

.color-white{
    color: #fefefe;
}
.color1{
    color: $color1;
}
.color5{
    color: $color5;
}

.width-300{
    max-width: 300px;
}

.width-char{
    max-width: 150px;
}