<div class="replay--log d-flex flex-column justify-content-between w-50 mr-1">
    <div class="l--chat d-flex flex-column">
        <p>Replay Beta. Still WIP! Battle Log will show here later.</p>
        <!-- <p v-for="msg in action">{{msg.offense}} attacks {{msg.target}}</p> -->
    </div>

    <div class="l--tab d-flex flex-row">
        <p @click="previous()">Previous Turn</p>
        <p @click="next()">Next Turn</p>
    </div>
</div>