<div class="replay--log d-flex flex-column justify-content-between w-50 mr-1">
    <div class="l--chat d-flex flex-column">
        <p>Welcome to Anime Rumble! #ingame</p>
        <p v-for="msg in action">Test</p>
    </div>

    <div class="l--tab d-flex flex-row">
        <p @click="previous()">Previous</p>
        <p @click="next()">Next</p>
    </div>
</div>