<div class="p-2">
    <div class="">
        <p class="title-1">Choose Character</p>
        <div class="d-flex flex-row">
            <div v-for="char in characters" class="p-2">
                <p>{{char.name}}</p>
                <button @click="selectCharacter(char.id)" :disabled="lineup.length === 3">Select</button>
            </div>
        </div>
    </div>

    <div class="">
        <p class="title-1">Selected Characters</p>
        <div class="characters--selected">
            <button @click="lineup = []">Reset Selection</button>
            <div class="d-flex flex-row">
                <div v-for="item in lineup" class="p-2">
                    <p>{{item}}</p>
                </div>
            </div>
        </div>
    </div>


</div>