<div class="w-100 characters">
    <div class="characters--info">
        <p>
            <b>Roadmap:</b> More Characters. Better UI. Rank/Ladder. Tournaments. Forum. Clan/Guild. Character Builder. Cosmetics.
            iOS and Android App.
        </p>
        <p>
            <b>Info:</b> To Challenge or Accept challenges, please Select 3 Characters first.
        </p>
        <p>
            Find Battle Partner on our Discord:
            <a href="https://discord.gg/ZsTQu8V" target="_blank">https://discord.gg/ZsTQu8V</a>
        </p>
    </div>

    <div class="characters--selected w-100">
        <p class="title-1">Selected Characters
            <button @click="lineup = []" v-if="lineup.length !== 0" class="btn-color4 ml-2">Reset Selection</button>
        </p>
        <div class="d-flex flex-row">
            <div v-for="item in lineup" class="p-2">
                <img :src="'/assets/character/'+item+'/avatar.jpg'">
            </div>
        </div>
    </div>

    <div class="characters--choice">
        <p class="title-1">Choose Character</p>
        <div class="d-flex flex-row">
            <div v-for="char in characters" class="characters--card d-flex flex-column">
                <div class="d-flex flex-row">
                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'">
                    <div class="d-flex l--title ">
                        <p>{{char.name}}</p>
                    </div>
                </div>
                <button @click="selectCharacter(char.id)" :disabled="lineup.length === 3" class="btn-color4 w-100">Select</button>
            </div>
        </div>
    </div>
</div>