<head>
    <title>Anime Rumble</title>
    <script src="/js/vue.js"></script>
    <script src="/js/v-tooltip.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/autosize.js"></script>
    <script src="/js/lodash.min.js"></script>
    <link rel="stylesheet" href="/css/create.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/1da8aad990302731afea05d49285274a.css">
    <script src="/js/axios.min.js"></script>
    <script src="/js/html2canvas.min.js"></script>
    <script type="text/javascript" src="/js/FileSaver.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61938466-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-61938466-9');
    </script>

</head>

<body>
    <div id="app">
        <div class="create d-flex flex-column align-items-center">
            <div class="create--nav">
                <p>
                    <a href="/">
                        <i class="icon-prev"></i> Back to Anime Rumble
                    </a>
                </p>
            </div>
            <div class="create--sandbox d-flex flex-column align-items-center" id="capture">

                <!-- Name -->
                <div class="create--box w-75">
                    <div class="d-flex flex-row align-items-end">
                        <input placeholder="Name" class="create--name l--main" v-model="profile.name"></input>
                    </div>
                    <div class="l--body d-flex flex-row mb-1">
                        <div class="l--img">
                            <img :src="profile.picture !== '' ? profile.picture : '/assets/create/placeholder.jpg'" class="l--img-upload">
                            <form enctype="multipart/form-data">
                                <input type="file" @change="onFileChanged($event, 'profile')" name="avatar" class="create--upload">
                            </form>
                        </div>
                        <textarea placeholder="Enter your text here" v-model="profile.description"></textarea>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-row w-50 align-items-end">
                            <!-- <p class="l--label-bold">Author</p>
                            <input placeholder="Your Name" class="create--name l--m2px" v-model="profile.author"></input> -->
                            <p class="l--credit">Author</p>
                            <input placeholder="Your Name" class="create--name l--credit" v-model="profile.author"></input>
                        </div>
                        <div class="d-flex flex-row w-50 align-items-end">
                            <p class="l--credit">Pictures</p>
                            <input placeholder="Your Name" class="create--name l--credit" v-model="profile.pictures"></input>
                        </div>
                    </div>
                </div>

                <!-- Skills -->
                <div class="d-flex flex-row flex-wrap w-100">
                    <div class="create--box w-50 p-1" v-for="(item, i) in skills">
                        <div class="d-flex flex-row align-items-end create--skill-name">
                            <p class="l--label mr-1">Skill:</p>
                            <input placeholder="Skill Name" class="create--name l--main" v-model="item.name"></input>
                            <i @click="removeSkill(i)" class="icon-cancel-circled"></i>
                        </div>
                        <div class="l--body d-flex flex-row">
                            <div class="l--img">
                                <img :src="item.picture !== '' ? item.picture : '/assets/create/placeholder.jpg'" class="l--img-upload">
                                <form enctype="multipart/form-data">
                                    <input type="file" @change="onFileChanged($event, 'skills', i)" name="avatar" class="create--upload">
                                </form>
                            </div>
                            <textarea placeholder="Enter your text here" v-model="item.text"></textarea>
                        </div>
                        <div class="d-flex flex-row align-items-end justify-content-between align-items-center">
                            <div class="d-flex flex-row">
                                <p class="l--label p-1">
                                    <u>Cooldown:</u> {{item.cooldown === 0 ? 'None' : item.cooldown}}
                                    <i @click="item.cooldown += 1" class="icon-plus-circle l--icon"></i>
                                    <i @click="item.cooldown > 0 ? item.cooldown -= 1 : null" class="icon-minus-circle l--icon"></i>
                                </p>
                            </div>
                            <div class="d-flex flex-row">
                                <p class="l--label d-flex flex-row justify-content-between align-items-center" @click="openModal(i)">
                                    <i class="icon-plus-circle l--icon"></i>
                                    <u class="cursor p-1">Energy:</u>
                                    <span v-if="(item.energy.a+item.energy.s+item.energy.i+item.energy.w+item.energy.r) === 0">None</span>
                                    <img src="/assets/energy/energy_0.gif" v-if="item.energy.a > 0" v-for="n in item.energy.a" class="l--energy">
                                    <img src="/assets/energy/energy_1.gif" v-if="item.energy.i > 0" v-for="n in item.energy.i" class="l--energy">
                                    <img src="/assets/energy/energy_2.gif" v-if="item.energy.s > 0" v-for="n in item.energy.s" class="l--energy">
                                    <img src="/assets/energy/energy_3.gif" v-if="item.energy.w > 0" v-for="n in item.energy.w" class="l--energy">
                                    <img src="/assets/energy/energy_random.gif" v-if="item.energy.r > 0" v-for="n in item.energy.r" class="l--energy">
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-end">
                            <p class="l--sublabel">Classes:</p>
                            <v-popover offset="0" placement="bottom" trigger="click">
                                <input placeholder="Enter classes here" class="create--name l--sublabel" v-model="item.classes"></input>
                                <template slot="popover">
                                    <div class="create--popover d-flex flex-row flex-wrap">
                                        <p @click="addClass('Instant', i)">Instant</p>
                                        <p @click="addClass('Action', i)">Action</p>
                                        <p @click="addClass('Control', i)">Control</p>
                                        <p @click="addClass('Melee', i)">Melee</p>
                                        <p @click="addClass('Ranged', i)">Ranged</p>
                                        <p @click="addClass('Physical', i)">Physical</p>
                                        <p @click="addClass('Affliction', i)">Affliction</p>
                                        <p @click="addClass('Mental', i)">Mental</p>
                                        <p @click="addClass('Energy', i)">Energy</p>
                                        <p @click="addClass('Strategic', i)">Strategic</p>
                                    </div>
                                </template>
                            </v-popover>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row mt-4" data-html2canvas-ignore="true">
                    <p @click="addSkill" class="create--options">
                        <i class="icon-plus-circle"></i> Add Skill</p>
                    <p @click="download" class="create--options">
                        <i class="icon-picture"></i> Download</p>
                    <p @click="save" class="create--options">
                        <i class="icon-floppy"></i> Save Character</p>
                    <p @click="load" class="create--options">
                        <i class="icon-up-circled"></i> Load Character
                    </p>
                </div>
                <form enctype="multipart/form-data">
                    <input type="file" ref="loadFile" @change="onLoadFile($event)" name="progress" class="create--load"></input>
                </form>
                <p class="create--credit">Created on AnimeRumble.com</p>
            </div>
        </div>

        <modal v-if="showModal" :energy="skills[sendSkill].energy" @close="closeModal"></modal>
    </div>

    <% include create/modal.ejs %>

        <script>
            function skill() {
                return {
                    name: '',
                    picture: '',
                    text: '',
                    cooldown: 0,
                    energy: {
                        a: 0,
                        i: 0,
                        s: 0,
                        w: 0,
                        r: 0
                    },
                    classes: '',
                }
            }

            Vue.use(VTooltip);
            let app = new Vue({
                el: '#app',
                data: {
                    showModal: false,
                    sendSkill: 0,
                    profile: {
                        name: '',
                        picture: '',
                        pictures: '',
                        author: '',
                        description: ''
                    },
                    skills: [
                        _.cloneDeep(skill()),
                        _.cloneDeep(skill()),
                        _.cloneDeep(skill()),
                        _.cloneDeep(skill()),
                    ]
                },
                methods: {
                    onFileChanged(event, type, index) {
                        let file = event.target.files[0]
                        if ((file.type === 'image/png' || file.type === 'image/jpg' || file.type === 'image/jpeg') && (file.size / 1000 / 1000 <= 10)) {
                            //Loading
                            if (type === 'skills') {
                                this.skills[index].picture = '/assets/create/loading.png'
                            } else if (type === 'profile') {
                                this.profile.picture = '/assets/create/loading.png'
                            }

                            //Upload                            
                            const formData = new FormData()
                            formData.append('avatar', file, file.name)
                            axios.post('/create/upload', formData,
                                {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                }).then(res => {
                                    console.log(res.data.link)
                                    if (type === 'skills') {
                                        this.skills[index].picture = res.data.link
                                    } else if (type === 'profile') {
                                        this.profile.picture = res.data.link
                                    }
                                })
                        }
                    },
                    onLoadFile(event) {
                        //Load                        
                        let file = event.target.files[0]
                        console.log(file)
                        let extenstion = file.name.split('.')[1]
                        let self = this
                        if (extenstion === 'ar' && (file.size / 1000 / 1000 <= 10)) {
                            var reader = new FileReader();
                            let test = reader.readAsText(file)
                            reader.onload = function (event) {
                                let decode = atob(event.target.result)
                                let result = JSON.parse(decode);
                                self.profile = result.profile
                                self.skills = result.skills

                                setTimeout(() => {
                                    autosize.destroy(document.querySelectorAll('textarea'));
                                    autosize(document.querySelectorAll('textarea'));
                                }, 100)
                            }
                        }
                    },
                    addSkill() {
                        this.skills.push(skill())
                        setTimeout(() => {
                            autosize(document.querySelectorAll('textarea'));
                        }, 100)
                    },
                    removeSkill(i) {
                        console.log(i)
                        let skills = this.skills
                        this.skills.splice(i, 1);
                    },
                    openModal(skill) {
                        this.sendSkill = skill
                        this.showModal = true
                    },
                    closeModal(e) {
                        console.log(e)
                        let packet = e;
                        this.skills[this.sendSkill].energy = packet
                        console.log(this.skills[this.sendSkill].energy)
                        this.showModal = false
                    },
                    download() {
                        let name = this.profile.name !== '' ? this.profile.name : 'AnimeRumble'
                        let fileName = name + ".png"
                        let capture = document.getElementById('capture');
                        // capture.style.fontFeatureSettings = '"liga" 0';
                        html2canvas(capture, { useCORS: true }).then(canvas => {
                            canvas.toBlob(function (blob) {
                                saveAs(blob, fileName);
                            });
                        });
                    },
                    save() {
                        let name = this.profile.name !== '' ? this.profile.name : 'AnimeRumble'
                        let fileName = name + ".ar"
                        let packet = {
                            profile: this.profile,
                            skills: this.skills
                        }
                        let json = JSON.stringify(packet)
                        let encode = btoa(json)
                        let file = new File([encode], fileName, { type: "text/animerumble" });
                        saveAs(file, fileName);
                    },
                    load() {
                        this.$refs.loadFile.click()
                    },
                    addClass(payload, i) {
                        let classes = this.skills[i].classes
                        console.log(classes)
                        let result = payload
                        if (classes !== '') {
                            result = classes + ', ' + payload
                        }
                        this.skills[i].classes = result
                    }
                }
            })

            autosize(document.querySelectorAll('textarea'));
        </script>
</body>