<head>
    <title>Anime Rumble</title>
    <script src="/js/vue.js"></script>
    <script src="/js/v-tooltip.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/Sortable.min.js"></script>
    <script src="/js/vuedraggable.min.js"></script>
    <script src="/js/lodash.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <div class="d-flex flex-column w-100 game align-items-center">
            <div class="d-flex flex-column game--width">
                <% include game/header.ejs %>
                    <div class="d-flex flex-row game--body">
                        <% include game/myteam.ejs %>
                            <% include game/theirteam.ejs %>
                    </div>
                    <% include game/description.ejs %>
            </div>
        </div>
        <modal v-if="state.winner.state" :name="state.winner.name" @close="showModal = false"></modal>
        <modalenergy v-if="state.energy.modal" :source="source" :packet="packet" :energy="source.energy.ally" :random="state.energy.random"
            @close="state.energy.modal = false" @done="onDone"></modalenergy>
        <modalexchange v-if="state.exchange.modal" :packet="packet" :energy="source.energy.ally" :random="state.energy.random" @close="state.exchange.modal = false"
            @done="onExchange"></modalexchange>
    </div>

    <% include game/modal.ejs %>
        <% include game/modalEnergy.ejs %>
            <% include game/modalExchange.ejs %>

                <script src="/build/game.min.js"></script>
</body>