<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/immutable@3.8.2/dist/immutable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
</head>

<body>
    <div id="section1">
        <p>Player One</p>
        <div id="playerOne">
            <p>Player One</p>
            <p>HP:
                <span class="hp">0</span>
            </p>
            <button class="skill" data-owner="" data-skill="">Skill 1</button>
        </div>
        <div id="heroOne">
            <p>Hero One</p>
            <p>HP:
                <span class="hp">0</span>
            </p>
            <button class="skill" data-owner="" data-skill="">Skill 1</button>
        </div>

        <div id="playerTwo">
            <p>Player Two</p>
            <p>HP:
                <span class="hp">0</span>
            </p>
            <button class="target" data-target="">Player 2</button>
        </div>
        <div id="heroTwo">
            <p>Hero Two</p>
            <p>HP:
                <span class="hp">0</span>
            </p>
            <button class="target" data-target="">Hero 2</button>
        </div>

        <button id="attack">Attack</button>
    </div>
    <hr>

</body>

<script>
    $(function () {
        var socket = io();

        let packet = []
        let attack = {}

        function view(payload) {
            $('#playerOne .hp').text(payload.myTeam.playerOne.hp)
            $('#heroOne .hp').text(payload.myTeam.heroOne.hp)

            $('#playerTwo .hp').text(payload.theirTeam.playerTwo.hp)            
            $('#heroTwo .hp').text(payload.theirTeam.heroTwo.hp)
        }

        socket.on('apply', (payload) => {
            store = payload
            console.log('apply', payload)
            if (store.myTeam === 'teamA') {
                store = {
                    myTeam: store.teamA,
                    theirTeam: store.teamB,
                    turn: store.turn
                }
            }

            // view(payload)
        })

        socket.on('initiate', (payload) => {
            store = payload
            console.log(payload)
            if (store.myTeam === 'teamA') {
                store = {
                    myTeam: store.teamA,
                    theirTeam: store.teamB,
                    turn: store.turn
                }
            }
            console.log(store)
            function checkTeam(owner) {
                if(store.myTeam[owner]){
                    return store.myTeam
                }
                else{
                    return store.theirTeam
                }
            }

            $('.skill').click((e) => {
                console.log(e)
                let owner = e.currentTarget.dataset.owner
                let skill = e.currentTarget.dataset.skill
                let self = $(".skill[data-owner='" + owner + "']")

                if (self.hasClass('clicked')) {
                    attack = {}
                    $(".skill").prop("disabled", false).removeClass('clicked')
                } else {
                    let store = checkTeam(owner)
                    attack.offense = store[owner].name
                    attack.skill = skill
                    // console.log(attack)
                    // console.log(packet)

                    $(".skill").prop("disabled", true)
                    self.prop("disabled", false).addClass(
                        'clicked')
                }
                console.log(attack, packet)
            })

            $('.target').click((e) => {
                console.log(e)
                let target = e.currentTarget.dataset.target
                let store = checkTeam(target)

                attack.target = store[target].name
                packet.push(attack)
                attack = {}
                $(".skill").prop("disabled", false).removeClass('clicked')
                console.log(attack, packet)
            })

            $('#playerOne button').attr({
                'data-owner': store.myTeam.playerOne.name,
                'data-skill': 0
            })
            $('#heroOne button').attr({
                'data-owner': store.myTeam.heroOne.name,
                'data-skill': 0
            })

            $('#playerTwo button').attr({
                'data-target': store.theirTeam.playerTwo.name
            })
            $('#heroTwo button').attr({
                'data-target': store.theirTeam.heroTwo.name
            })

            view(store)

            $('#section1 #attack').click(() => {
                console.log('hi')
                console.log(packet)
                socket.emit('registerAttack', packet)
                packet = []
            })
        });
    });
</script>

</html>