<body>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Your Name">
        <input type="text" name="email" placeholder="Your Email">
        <input type="text" name="username" placeholder="Your Username">
        <input type="password" name="password" placeholder="Your Password">
        <button type="submit">Sign Up</button>
    </form>
</body>