
.icon-search:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\e804'; } /* '' */
.icon-prev:before { content: '\e805'; } /* '' */
.icon-next:before { content: '\e806'; } /* '' */
.icon-kite:before { content: '\e807'; } /* '' */
.icon-point-x:before { content: '\e808'; } /* '' */
.icon-point-y:before { content: '\e809'; } /* '' */
.icon-point-z:before { content: '\e80a'; } /* '' */
.icon-chess:before { content: '\e80b'; } /* '' */
.icon-support:before { content: '\e80c'; } /* '' */
.icon-technology:before { content: '\e80d'; } /* '' */
.icon-gramophone:before { content: '\e80e'; } /* '' */
.icon-lightbulb:before { content: '\e80f'; } /* '' */
.icon-swords:before { content: '\e810'; } /* '' */
.icon-briefcase:before { content: '\e811'; } /* '' */
.icon-book-open:before { content: '\e812'; } /* '' */
.icon-vcard:before { content: '\e813'; } /* '' */
.icon-college-graduation:before { content: '\e814'; } /* '' */
.icon-picture:before { content: '\e815'; } /* '' */
.icon-plus-circle:before { content: '\e816'; } /* '' */
.icon-cancel-circled:before { content: '\e817'; } /* '' */
.icon-floppy:before { content: '\e818'; } /* '' */
.icon-up-circled:before { content: '\e819'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-rocket-1:before { content: '\f135'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-yes:before { content: '\f14a'; } /* '' */
.icon-instagram-outline:before { content: '\f16d'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-no:before { content: '\f2d3'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */