
.icon-search:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\e804'; } /* '' */
.icon-prev:before { content: '\e805'; } /* '' */
.icon-next:before { content: '\e806'; } /* '' */
.icon-kite:before { content: '\e807'; } /* '' */
.icon-point-x:before { content: '\e808'; } /* '' */
.icon-point-y:before { content: '\e809'; } /* '' */
.icon-point-z:before { content: '\e80a'; } /* '' */
.icon-chess:before { content: '\e80b'; } /* '' */
.icon-support:before { content: '\e80c'; } /* '' */
.icon-technology:before { content: '\e80d'; } /* '' */
.icon-gramophone:before { content: '\e80e'; } /* '' */
.icon-lightbulb:before { content: '\e80f'; } /* '' */
.icon-swords:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-yes:before { content: '\f14a'; } /* '' */
.icon-instagram-outline:before { content: '\f16d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-no:before { content: '\f2d3'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */