<div class="challenge d-flex flex-column">
    <div class="challenge--core d-flex flex-column">
        <div class="d-flex flex-column align-items-center mb-2">
            <button @click="findMatch()" :disabled="lineup.length < 3 || buttonlock" class="btn-color4 w-100 mb-1 l--ladder">
                <i class="icon-spin animate-spin" v-if="matchMaking"></i> {{matchMaking ? 'Searching...' : 'Ladder (alpha)'}}
            </button>
            <p class="font-size-12 color-white" @click="cancelMatch" v-if="matchMaking">Cancel</p>
        </div>

        <div v-if="challenge.showChallenged" class="challenge--box">
            <p class="l--title">Challenge from {{challenge.challenger}}</p>
            <p class="l--wait mb-2">Waiting for your reply... ({{challenge.count}})</p>
            <button @click="onAccept(challenge.challenger)" :disabled="lineup.length < 3 || buttonlock" class="btn-color4 w-100">Accept?</button>
        </div>

        <div v-if="challenge.showChallenging" class="challenge--box">
            <p class="l--title">Sent challenge to {{challenge.challenging}}</p>
            <p class="l--wait">Waiting for reply... ({{challenge.count}})</p>
        </div>

        <div class="challenge--container mb-2">
            <div class="d-flex flex-row w-100 justify-content-between" v-b-toggle="'user-online'">
                <p class="l--title">ONLINE - {{players.filter(x => x.status==='online').length}}</p>
                <i class="icon-angle-down"></i>
            </div>
            <b-collapse visible id="user-online">
                <div class="mb-3">
                    <p v-if="item.status === 'online'" v-for="item in players">
                        <span class="mr-1">{{item.username}}</span>
                        <button @click="onChallenge(item.username, $event)" v-if="item.username !== username" :disabled="lineup.length < 3 || buttonlock"
                            class="btn--small">
                            <i class="icon-swords" aria-hidden="true"></i>
                        </button>
                    </p>
                </div>
            </b-collapse>

            <div class="d-flex flex-row w-100 justify-content-between" v-b-toggle="'user-ingame'">
                <p class="l--title">IN GAME - {{players.filter(x => x.status==='ingame').length}}</p>
                <i class="icon-angle-down"></i>
            </div>
            <b-collapse visible id="user-ingame">
                <div class="mb-3">
                    <p v-if="item.status === 'ingame'" class="font-weight-light" v-for="item in players">
                        <span class="mr-1">{{item.username}}</span>
                        <button @click="onSpectate(item.room)" v-if="item.username !== username" class="btn--small">
                            <i class="icon-tv" aria-hidden="true"></i>
                        </button>
                    </p>
                </div>
            </b-collapse>

            <div class="d-flex flex-row w-100 justify-content-between" v-b-toggle="'user-idle'">
                <p class="l--title">IDLE - {{players.filter(x => x.status==='offline').length}}</p>
                <i class="icon-angle-down"></i>
            </div>
            <b-collapse id="user-idle">
                <div class="mb-3">
                    <p v-if="item.status === 'offline'" class="font-weight-light" v-for="item in players">
                        <span class="mr-1">{{item.username}}</span>
                    </p>
                </div>
            </b-collapse>
        </div>
        <!-- <iframe src="https://discordapp.com/widget?id=429538988341198858&theme=dark" width="100%" height="500" allowtransparency="true"
                        frameborder="0"></iframe> -->
    </div>
    <div class="challenge--chatbox d-flex flex-column justify-content-between">
        <div class="l--chat d-flex flex-column" id="chat">
            <p>Welcome to Anime Rumble!</p>
            <p v-for="msg in chat">{{msg.name+': '+msg.message}}</p>
        </div>
        <div class="l--input">
            <input v-model="chatSend" placeholder="Your message here..." @keyup.enter="onChat(), $refs.soundClick.play()"></input>
        </div>
    </div>
</div>