<div class="w-100 selection d-flex flex-column align-items-center">
    <div class="w-50">
        <div class="img-100" v-if="!showCharInfo">
            <!-- <img src="/assets/animerumble2.jpg" class="selection--img"> -->
            <div class="card">
                <div class="card-body">
                    <p>Announcement</p>
                    <p>We've release the preview of the new engine. It's a demo and not playable yet. For those who really want
                        to try it out the link is in our discord channel.</p>
                    <p>Next milestone is to develop the new engine to fully replace the game version you're playing right now.
                        We're looking at June 31 as the next date. We will inform everybody further for the releases.</p>
                    <p> -AR Team, 20 June 2018</p>
                </div>
            </div>
        </div>
        <div class="selection--details d-flex flex-column" v-if="showCharInfo">
            <div class="d-flex flex-row align-items-end mb-3">
                <img :src="'/assets/character/'+charInfo.id+'/avatar.jpg'" class="l--char">
                <div class="d-flex flex-column w-100">
                    <p class="l--name">{{charInfo.name}}</p>
                    <div class="d-flex flex-row justify-content-between">
                        <p class="l--credit">
                            <span class="l--label">Author</span> {{charInfo.credit.author !== '' ? charInfo.credit.author : 'N-A'}}</p>
                        <p class="l--credit">
                            <span class="l--label">Pictures</span> {{charInfo.credit.pictures !== '' ? charInfo.credit.pictures : 'N-A'}}</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img @click="charSkill = 0" :src="'/assets/character/'+charInfo.id+'/skill1/avatar.jpg'" class="l--skills">
                        <img @click="charSkill = 1" :src="'/assets/character/'+charInfo.id+'/skill2/avatar.jpg'" class="l--skills">
                        <img @click="charSkill = 2" :src="'/assets/character/'+charInfo.id+'/skill3/avatar.jpg'" class="l--skills">
                        <img @click="charSkill = 3" :src="'/assets/character/'+charInfo.id+'/skill4/avatar.jpg'" class="l--skills">
                    </div>
                </div>
            </div>
            <div class="l--bg">
                <% include description.ejs %>
            </div>
        </div>
    </div>

    <div class="selection--selected d-flex flex-row justify-content-between">
        <div v-for="item in lineup" class="selection--char">
            <button @click="onDescription(item)" @dblclick="deselectCharacter(item)" class="l--char w-100">
                <img :src="'/assets/character/'+item+'/avatar.jpg'">
            </button>
        </div>
        <div v-for="item in (3-lineup.length)" class="selection--char">
            <div class="l--char w-100">
                <img :src="'/assets/theme/empty.jpg'">
            </div>
        </div>
    </div>

    <div class="d-flex flex-row w-100">
        <b-tabs class="w-100" v-model="tabIndex">
            <b-tabs pills vertical>
                <b-tab title="N-A" active :title-link-class="linkClass(0)">
                    <div class="selection--choice l--border-naruto d-flex flex-row flex-wrap">
                        <div v-for="char in characters.filter(x => x.anime === 'Naruto')" class="d-flex flex-column">
                            <div class="d-flex flex-row selection--char">
                                <button @click="onDescription(char.id)" @dblclick="selectCharacter(char.id)" :disabled="lineup.some(x => x === char.id)"
                                    class="l--char w-100">
                                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'" v-if="!lineup.some(x => x === char.id)">
                                    <img :src="'/assets/theme/empty.jpg'" v-if="lineup.some(x => x === char.id)">
                                </button>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="Naruto" :title-link-class="linkClass(1)">
                    <div class="selection--choice l--border-naruto d-flex flex-row flex-wrap">
                        <div v-for="char in characters.filter(x => x.anime === 'NarutoAR')" class="d-flex flex-column">
                            <div class="d-flex flex-row selection--char">
                                <button @click="onDescription(char.id)" @dblclick="selectCharacter(char.id)" :disabled="lineup.some(x => x === char.id)"
                                    class="l--char w-100">
                                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'" v-if="!lineup.some(x => x === char.id)">
                                    <img :src="'/assets/theme/empty.jpg'" v-if="lineup.some(x => x === char.id)">
                                </button>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="One Piece" :title-link-class="linkClass(2)">
                    <div class="selection--choice l--border-onepiece d-flex flex-row flex-wrap">
                        <div v-for="char in characters.filter(x => x.anime === 'OnePiece')" class="d-flex flex-column">
                            <div class="d-flex flex-row selection--char">
                                <button @click="onDescription(char.id)" @dblclick="selectCharacter(char.id)" :disabled="lineup.some(x => x === char.id)"
                                    class="l--char w-100">
                                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'" v-if="!lineup.some(x => x === char.id)">
                                    <img :src="'/assets/theme/empty.jpg'" v-if="lineup.some(x => x === char.id)">
                                </button>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="Fairy Tail" :title-link-class="linkClass(3)">
                    <div class="selection--choice l--border-onepiece d-flex flex-row flex-wrap">
                        <div v-for="char in characters.filter(x => x.anime === 'FairyTail')" class="d-flex flex-column">
                            <div class="d-flex flex-row selection--char">
                                <button @click="onDescription(char.id)" @dblclick="selectCharacter(char.id)" :disabled="lineup.some(x => x === char.id)"
                                    class="l--char w-100">
                                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'" v-if="!lineup.some(x => x === char.id)">
                                    <img :src="'/assets/theme/empty.jpg'" v-if="lineup.some(x => x === char.id)">
                                </button>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="DBZ" :title-link-class="linkClass(4)">
                    <div class="selection--choice l--border-onepiece d-flex flex-row flex-wrap">
                        <div v-for="char in characters.filter(x => x.anime === 'dbz')" class="d-flex flex-column">
                            <div class="d-flex flex-row selection--char">
                                <button @click="onDescription(char.id)" @dblclick="selectCharacter(char.id)" :disabled="lineup.some(x => x === char.id)"
                                    class="l--char w-100">
                                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'" v-if="!lineup.some(x => x === char.id)">
                                    <img :src="'/assets/theme/empty.jpg'" v-if="lineup.some(x => x === char.id)">
                                </button>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="JBA" :title-link-class="linkClass(5)">
                    <div class="selection--choice l--border-onepiece d-flex flex-row flex-wrap">
                        <div v-for="char in characters.filter(x => x.anime === 'Jojo Bizzare Adventure')" class="d-flex flex-column">
                            <div class="d-flex flex-row selection--char">
                                <button @click="onDescription(char.id)" @dblclick="selectCharacter(char.id)" :disabled="lineup.some(x => x === char.id)"
                                    class="l--char w-100">
                                    <img :src="'/assets/character/'+char.id+'/avatar.jpg'" v-if="!lineup.some(x => x === char.id)">
                                    <img :src="'/assets/theme/empty.jpg'" v-if="lineup.some(x => x === char.id)">
                                </button>
                            </div>
                        </div>
                    </div>
                </b-tab>
            </b-tabs>
        </b-tabs>
    </div>
</div>