<div class="selection--nav d-flex flex-row">
    <a href="/create" target="_blank">Character Creation Tool</a>
    <a href="https://discord.gg/ZsTQu8V" target="_blank">Discord</a>
    <a href="/logout">Logout</a>
</div>