<div class="selection--nav d-flex flex-row">
    <a href="/create" target="_blank">Character Creation Tool</a>
    <a @click="showRanks = true">Bugs Ladder</a>
    <a @click="showReplay = true">Replay</a>
    <a href="https://reddit.com/r/animerumble" target="_blank">Reddit</a>
    <a href="https://discord.gg/ZsTQu8V" target="_blank">Discord
        <i class="icon-user"></i>{{discord}}</a>
    <a href="/logout">Logout</a>
</div>