<div v-if="state.description !== null" class="game--description w-50">
    <p class="l--title">{{source.ally[state.description.heroIndex].skill[state.description.skill].name}}</p>
    <p class="l--desc">{{source.ally[state.description.heroIndex].skill[state.description.skill].description}}</p>

    <p class="l--info text-right">
        TARGET {{source.ally[state.description.heroIndex].skill[state.description.skill].target}}
        | <img src="/assets/energy/energy_0.gif" /> {{source.ally[state.description.heroIndex].skill[state.description.skill].energy.a}} 
        | <img src="/assets/energy/energy_1.gif" /> {{source.ally[state.description.heroIndex].skill[state.description.skill].energy.i}} 
        | <img src="/assets/energy/energy_2.gif" /> {{source.ally[state.description.heroIndex].skill[state.description.skill].energy.s}} 
        | <img src="/assets/energy/energy_3.gif" /> {{source.ally[state.description.heroIndex].skill[state.description.skill].energy.w}} 
        | <img src="/assets/energy/energy_random.gif" /> {{source.ally[state.description.heroIndex].skill[state.description.skill].energy.r}}        
        | COOLDOWN {{source.ally[state.description.heroIndex].skill[state.description.skill].cooldown}}</p>
</div>