<div class="w-100 game--info d-flex flex-column align-items-center">
    <div class="l--turn">
        <p>TURN {{source.turn}}</p>
        <div class="l--bar">
            <div :style="{width: state.timer.turn+'%'}" class="l--fill"></div>
        </div>
    </div>

    <div class="l--turn">
        <p>
            <img src="/assets/energy/energy_0.gif" /> {{source.energy.ally.a}} 
            <img src="/assets/energy/energy_1.gif" /> {{source.energy.ally.i}} 
            <img src="/assets/energy/energy_2.gif" /> {{source.energy.ally.s}} 
            <img src="/assets/energy/energy_3.gif" /> {{source.energy.ally.w}} 
            <b>T</b> {{source.energy.ally.r}}</p>
        <div class="l--bar">
            <div :style="{width: '100%'}" class="l--fill"></div>
        </div>
    </div>

    <button @click="onAttack('hi')" :disabled="(state.skill.skill !== null || source.myTurn !== false) ? true : false" class="btn-color4 mb-1">Attack</button>
    <button @click="state.exchange.modal = !state.exchange.modal" :disabled="source.energy.ally.r < 5 || state.exchange.used === true" class="btn-color4">Energy Exchange</button>
</div>