<div class="game--status-popup">
    <p class="mb-0">{{status.name}}</p>
    <div v-for="desc in status.val">
        <p class="l--desc mb-0" v-if="desc.effect === 'allow'">Can use {{desc.description}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'bleed' && desc.active !== 0">Receive {{desc.val}} damage for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'boost' && desc.isStack === false">Increase damage by {{desc.val}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'boost' && desc.isStack === true">Increase damage by {{desc.val}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}} {{desc.stack}} stacks</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'reduce'">Damage reduced by {{desc.val}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'protect'">Reduce damage by {{desc.val}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'disableDrIv'">Cannot reduce damage or become invulnerable for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'stun'">Stun for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'invulnerable'">Invulnerable for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'dd'">Destructible defense of {{desc.val}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'ignore'">Ignore for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'charge'">Charge {{desc.val}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'track'">Tracking</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'custom'">{{desc.description}} for {{desc.active > 0 ? desc.active+' turns' : 'infinite'}}</p>
        <p class="l--desc mb-0" v-if="desc.effect === 'counter'">Countered</p>
        <p class="l--desc mb-0" v-if="desc.isInvisible === true">This skill is invisible</p>
    </div>
</div>