<div class="w-50">
    <div v-for="(item, index) in source.ally" class="d-flex flex-row game--box">
        <div class="game--char">
            <button @click="onTarget({name: item.name, hero: index})" :disabled="state.button.ally[index].button">
                <img :src="onGetImage({nameId: item.nameId}, 'char')">
            </button>
            <div class="l--turn">
                <p>HP {{item.hp}}</p>
                <div class="l--bar">
                    <div :style="{width: '100%'}" class="l--fill"></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <div v-for="(skill, skillIndex) in item.skill" class="game--skill">
                    <button @click="onSkill({name: item.name, skillIndex: skillIndex, heroIndex: index, target: skill.target})" @mouseover="onDescription({name: item.name, skillIndex: skillIndex, heroIndex: index, target: skill.target})"
                        :disabled="state.button.ally[index].skill[skillIndex].button" v-if="!state.button.ally[index].skill[skillIndex].button">
                        <img :src="onGetImage({nameId: item.nameId, skill: skillIndex},'skill')">
                    </button>
                    <button @mouseover="onDescription({name: item.name, skillIndex: skillIndex, heroIndex: index, target: skill.target})" v-if="state.button.ally[index].skill[skillIndex].button"
                        class="l--disabled game--skill-button">
                        <img :src="onGetImage({nameId: item.nameId, skill: skillIndex},'skill')">
                        <p class="game--skill-cooldown">{{skill.counter !== 0 ? (skill.cooldown - skill.counter)+1 : ''}}</p>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-row game--status">
                <div v-for="status in item.status.onAttack">
                    <img :src="onGetImage({nameId: status.owner, skill: status.skillIndex}, 'status')">
                </div>
                <div v-for="status in item.status.onReceive">
                    <img :src="onGetImage({nameId: status.owner, skill: status.skillIndex}, 'status')">
                </div>
                <div v-for="status in item.status.onState">
                    <img :src="onGetImage({nameId: status.owner, skill: status.skillIndex}, 'status')">
                </div>
                <div v-for="status in item.status.onSelf">
                    <img :src="onGetImage({nameId: status.owner, skill: status.skillIndex}, 'status')">
                </div>
            </div>
        </div>
    </div>
</div>