.game--width {
  width: 100%;
  max-width: 900px;
}
.game p {
  margin-bottom: 0px;
}
.game button {
  padding: 0px;
  border: none;
  cursor: pointer;
  &:disabled {
    opacity: 0.4;
    // filter: grayscale(100%);
  }
}

.game--body {
  margin-bottom: 20px;
}

.game--profile {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
}

.game--nav {
  .l--btn {
    font-size: 12px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;

    a {
      color: #222;
    }
  }
}

.game--chatbox {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  height: 120px;

  .l--tab {
    padding: 5px 5px 0px 0px;
    p {
      padding: 0 10px;
      font-size: 10px;
      color: #fff;
      margin: 0;
      text-decoration: underline;
    }
  }

  .l--chat {
    margin: 5px 10px 10px 10px;
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 15px;
    p {
      font-size: 10px;
      color: #fff;
      margin: 0;
    }
  }

  .l--input input {
    width: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    padding: 0 5px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);

    &::-webkit-input-placeholder {
      color: #222;
    }
    &:-moz-placeholder {
      color: #222;
    }
    &::-moz-placeholder {
      color: #222;
    }
    &:-ms-input-placeholder {
      color: #222;
    }
  }
}

.game--skill-container {
  border-image-source: url("/assets/theme/naruto-border.jpg");
  border-image-slice: 5 15 5 5 fill;
  border-image-width: 5px 15px 5px 5px;
  border-image-repeat: round;
  padding: 5px 20px 5px 5px;
  margin-top: 2px;
  margin-left: 5px;
}

.game--skill-container-opposite {
  border-image-source: url("/assets/theme/naruto-border-opposite.jpg");
  border-image-slice: 5 5 5 15 fill;
  border-image-width: 5px 5px 5px 15px;
  border-image-repeat: round;
  padding: 5px 5px 5px 20px;
  margin-top: 2px;
  margin-left: 5px;
}

.game--skill {
  // background: #fefefe;
  padding: 5px;
  button {
    border: 1px solid #222;
    cursor: pointer;
    img {
      width: 55px;
      height: 55px;
    }
    // &:focus {
    // outline: none !important;
    // border-color: #719ece;
    // box-shadow: 0 0 10px #bbff00;
    // }
    &:disabled {
      opacity: 1;
      border: 1px solid #222;
      background: #fefefe;
      cursor: normal;
      img {
        opacity: 0.3;
      }
    }
  }
  button.l--skill-noborder {
    &:disabled {
      img {
        opacity: 1;
      }
    }
  }
}

.game {
  padding: 5px;
  background: url("/assets/bgnew.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  .btn-color4 {
    background-color: $color1;
    border-color: $color1;
    color: #fefefe;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
  }
}

.game--info {
  text-align: center;

  .l--energy {
    padding: 5px;
    // height: 30px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.6);
    .l--exchange {
      font-weight: 300;
      font-size: 12px;
    }
  }

  .l--turn {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #222;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
    p {
      position: absolute;
      top: 0;
      padding: 3px;
      padding-left: 10px;
      z-index: 2;
      color: #fefefe;
      font-weight: 300;
    }
    .l--bar {
      border-radius: 4px;
      position: absolute;
      top: 0;
      height: 28px;
      width: 298px;
      z-index: 1;
      background: rgb(34, 34, 34);
      .l--fill {
        border-radius: 4px;
        height: 28px;
        // width: 200px;
        background: rgb(0, 132, 255);
      }
    }
  }
}

.game--box {
  padding: 10px 20px;

  .l--disabled {
    opacity: 1;
    //   border: 2px solid $color5;
    background: #fefefe;
    &:focus {
      outline: none !important;
    }
    cursor: normal;
    img {
      opacity: 0.3;
    }
  }
}

.game--char {
  position: relative;

  button.l--char {
    background: #f4cb42;
    border: 1px solid #222;
    img {
      animation: pulse 2s infinite;
    }
    &:disabled {
      opacity: 1;
      //   border: 2px solid $color5;
      background: #f4cb42;
      cursor: normal;
      img {
        // opacity: 0.3;
        opacity: 1;
        animation: none;
      }
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0.3;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }

  button {
    // border: 2px solid $color1;
    &:disabled {
      opacity: 1;
      //   border: 2px solid $color5;
      background: #fefefe;
      cursor: normal;
      img {
        opacity: 0.3;
      }
    }
  }

  .l--turn {
    height: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    p {
      position: absolute;
      top: 0;
      font-size: 10px;
      padding: 3px;
      padding-left: 10px;
      z-index: 2;
      color: #fefefe;
      font-weight: 300;
      text-align: center;
    }
    .l--bar {
      border-radius: 2px;
      position: absolute;
      top: 0;
      height: 20px;
      width: 100%;
      z-index: 1;
      background: $color3;
      border: 1px solid #222;
      .l--hp {
        border-radius: 2px;
        height: 18px;
        background: rgb(37, 219, 1);
      }
      .l--hp-full {
        border-radius: 2px;
        height: 18px;
        background: rgb(37, 219, 1);
      }
      .l--hp-mid {
        border-radius: 2px;
        height: 18px;
        background: rgb(219, 183, 1);
      }
      .l--hp-low {
        border-radius: 2px;
        height: 18px;
        background: rgb(219, 19, 1);
      }
      .l--fill {
        border-radius: 2px;
        height: 20px;
        // width: 200px;
        background: $color5;
      }
    }
  }
}

.game--description {
  // border-image-source: url("https://i.imgur.com/xrF16uy.png");
  // border-image-slice: 19 fill;
  // border-image-width: 19px 19px 19px 19px;
  // border-image-repeat: round;
  // padding: 25px;

  border-image-source: url("/assets/theme/naruto-border.jpg");
  border-image-slice: 5 15 5 5 fill;
  border-image-width: 5px 15px 5px 5px;
  border-image-repeat: round;
  padding: 10px 20px 10px 10px;
  // height: 120px;
  // width: 500px;
  border-radius: 5px;
  text-align: left;
  .l--title {
    font-size: 14px;
    color: #222;
    font-weight: bold;
  }
  .l--desc {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .l--img {
    border: 1px solid #222;
  }
  .l--info {
    font-size: 8px;
    color: $color5;
    img {
      margin: 0 1px;
      display: block;
      height: 10px;
      width: 10px;
    }
  }
  .l--box {
    flex: 1;
  }
}

.game--status-popup {
  background: #fefefe;
  // margin-top: 10px;
  // margin-left: 20px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  text-align: left;
  .l--title {
    font-size: 14px;
    color: $color1;
    font-weight: bold;
  }
  .l--desc {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .l--info {
    font-size: 10px;
    color: $color5;
  }
}

.game--status {
  height: 24px;
  img {
    border: 1px solid #222;
    width: 22px;
    height: 22px;
    margin-left: 5px;
  }
}

.game--skill-button {
  position: relative;
}
.game--skill-cooldown {
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 2;
  font-size: 40;
  width: 100%;
}

.game--flip-img {
  transform: scaleX(-1);
}
