.ladder{
    .l--rank{
        font-weight: 400;
    }
    .l--name{
        font-weight: bold;        
    }
    .l--label{
        font-size: 10px;
        color: #a1a1a1;
        font-weight: 400;
    }
    .l--value{
        font-size: 12px;
        font-weight: bold;
    }
}