.characters--selected {
  background: rgba(lighten($color5, 1%), 0.8);
  padding: 10px 10px;
  border-radius: 5px;
  min-height: 160px;
  margin-top: 20px;
}
.characters--choice {
  background: rgba(lighten($color2, 1%), 0.8);
  padding: 10px 10px;
  border-radius: 5px;
  min-height: 160px;
  margin-top: 20px;
}
.characters--info {
  background: rgba(lighten($color2, 1%), 0.8);
  padding: 10px 10px;
  border-radius: 5px;
  min-height: 80px;
  margin-top: 20px;
  font-size: 12px;
  p {
    margin-bottom: 5px;
  }
}
.characters {
  padding: 20px;
  background: url("https://i.imgur.com/gh6yr99.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}
.characters--card {
  border: 1px solid $color5;
  border-radius: 5px;
  align-items: center;
  margin: 5px;
  background: #fefefe;
  .l--title {
    padding: 5px;
    p {
      font-size: 14px;
      color: $color3;
      font-weight: bold;
    }
  }
  .btn-color4 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
