.selection--bg {
  background: url("/assets/bgnew.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.selection--info {
  background: rgba(lighten($color2, 1%), 0.8);
  padding: 10px 10px;
  border-radius: 5px;
  min-height: 80px;
  margin-top: 20px;
  font-size: 12px;
  p {
    margin-bottom: 5px;
  }
}
.selection {
  padding: 20px;
  overflow-y: scroll;

  .nav-link {
    &.active {
      background-color: #222 !important;
      color: #fff;
    }
    color: #fff;
  }
}

.selection--img {
  // border: 5px solid rgb(57, 123, 245);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.selection--nav {
  padding-top: 5px;
  a {
    font-size: 14px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff !important;
    font-weight: 300;
    padding: 5px 10px;
    margin: 0px 5px;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.selection--selected {
  // background: #ffffff;
  padding: 10px 10px;
  // border-radius: 5px;
  // border: 3px solid $color5;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300px;
  .l--char {
    background: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    img {
      border-radius: 4px;
    }
    button {
      &:hover {
        border-color: $color1;
        opacity: 0.5;
      }
      &:disabled {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.selection--choice {
  // border: 15px solid $color5;
  width: 100%;
  min-height: 160px;
  margin-bottom: 15px;
  position: relative;

  &.l--border-naruto {
    border-image-source: url("/assets/theme/naruto-border.jpg");
    border-image-slice: 5 15 5 5 fill;
    border-image-width: 5px 15px 5px 5px;
    border-image-repeat: round;
    padding: 15px;
  }

  &.l--border-onepiece {
    border-image-source: url("/assets/theme/onepiece-border.png");
    border-image-slice: 5 15 5 5 fill;
    border-image-width: 5px 15px 5px 5px;
    border-image-repeat: round;
    padding: 15px;
  }

  // &::before {
  //   content: "";
  //   background-image: url("https://i.imgur.com/UysjrVE.png");
  //   background-size: 100% 100%;
  //   position: absolute;
  //   /*   z-index:1000; */
  //   height: 130%;
  //   width: 20px;
  //   top: -25px;
  //   left: -15px;
  // }
}
.selection--char {
  border: 1px solid #222;
  border-radius: 5px;
  align-items: center;
  margin: 5px;
  background: #fefefe;
  min-height: 77px;
  button.l--char {
    background: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    img {
      border-radius: 4px;
    }
    &:hover {
      border-color: $color1;
      opacity: 0.5;
    }
  }
}
.selection--details {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  .l--name {
    font-size: 14px;
    color: #222;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: 0px;
  }
  .l--credit {
    font-size: 10px;
    color: #222;
    padding: 0 5px;
    margin-bottom: 0px;
  }
  .l--label {
    color: #555;
  }
  .l--char {
    border: 1px solid #222;
  }
  .l--skills {
    max-width: 45px;
    max-height: 45px;
    border: 1px solid #222;
    margin: 0 5px;
  }
}
.selection--description {
  width: 100%;
  border-radius: 5px;
  text-align: left;
  .l--title {
    font-size: 14px;
    color: #222;
    font-weight: bold;
  }
  .l--desc {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .l--img {
    border: 1px solid #222;
  }
  .l--info {
    font-size: 8px;
    color: #555;
    img {
      margin: 0 1px;
      display: block;
      height: 10px;
      width: 10px;
    }
  }
  .l--box {
    flex: 1;
  }
}
