.selection--info {
  background: rgba(lighten($color2, 1%), 0.8);
  padding: 10px 10px;
  border-radius: 5px;
  min-height: 80px;
  margin-top: 20px;
  font-size: 12px;
  p {
    margin-bottom: 5px;
  }
}
.selection {
  padding: 20px;
  background: url("/assets/bgnew.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

.selection--selected {
  // background: #ffffff;
  padding: 10px 10px;
  // border-radius: 5px;
  // border: 3px solid $color5;
  margin-top: 20px;
  max-width: 300px;
  .l--char {
    background: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    img {
      border-radius: 4px;
    }
    button {
      &:hover {
        border-color: $color1;
        opacity: 0.5;
      }
      &:disabled {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.selection--choice {  
  // border-radius: 5px;
  border: 19px solid $color5;
  min-height: 160px;
  margin-top: 20px;

  // border: 19px solid #222;
  border-image-source: url('https://i.imgur.com/xrF16uy.png');
  border-image-slice: 19 fill;
  border-image-width: 19px 19px 19px 19px;
  border-image-repeat: round;
  padding: 10px 10px;
  // .l--inner{
  //   // background: #f7f5f1;
  //   padding: 10px 10px;
  // }
}
.selection--char {
  border: 1px solid #222;
  border-radius: 5px;
  align-items: center;
  margin: 5px;
  background: #fefefe;
  button.l--char {
    background: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    img {
      border-radius: 4px;
    }
    &:hover {
      border-color: $color1;
      opacity: 0.5;
    }
  }
}
